extends layout

block content
    h1  Hello Amigos
    h3  You can upload all your pictures here
    
    if message
        .alert.alert-danger.alert-dismissible.fade.show(role='alert')
            strong #{message}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;

    if success
        .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong #{success}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;

    form.leave-space-top(action="/upload" method="POST" enctype="multipart/form-data")
        h6
            label(for="my_image") File : 
            input.my-btn.my-file#my_image(type="file" name="my_image" multiple)
        button.my-btn(type="submit") Submit